{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="error-page">
	<h2 class="headline text-red">{{ error.status }}</h2>
	<div class="error-content">
		<h3>
			{% if error.code %}
			<i class="fa fa-warning text-red"></i> {{ error.code }} - {{ error.text }}
			{% else %}
			<i class="fa fa-warning text-red"></i> {{ error.text }}
			{% endif %}
		</h3>
		<p>
			Meanwhile, you may <a href="{{ settings.path.home }}">return to dashboard</a>.
		</p>
	</div>
</div>
{% endblock %}